.user_list {
    top: 50%;
    left: 50%;
}
.card {
    display: inline-block;
    margin: 20px;
    padding: 20px;
}

.user_avatar {
    width: 120px;
}

.user_name {
    text-align: center;
}