.top-bar {
    position: relative;
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.container {
    display: flex;
    justify-content: center;
    vertical-align: middle;
}

.message {
    margin: 50px;
}

