<p class="welcome" *ngIf="user" id="welcome">
    Bonjour {{user.firstname}} !<br /> Quelle est ton humeur aujourd'hui ?
</p>

<div class="moods">
    <a class="smiley"><img class="smiley_img" src="../assets/smileys/veryHappySmiley.png" /></a>
    <a class="smiley"><img class="smiley_img" src="../assets/smileys/happySmiley.png" /></a>
    <a class="smiley"><img class="smiley_img" src="../assets/smileys/regularSmiley.png" /></a>
    <a class="smiley"><img class="smiley_img" src="../assets/smileys/sadSmiley.png" /></a>
</div>

<label id="perso" for="perso"><input type="checkbox" name="perso"> Raisons personnelles</label>